html {
    scroll-behavior: smooth;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

body {
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: black;
}

.bg-img {
    background-image: url(/img/cardd.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100vh;
    position: absolute;
    height: 100vh;
    left: 25%
}

.border {
    border: 5px solid white
}

.borderY {
    border: 1px solid yellow
}

.borderR {
    border: 3px solid #512DA8
}

a {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 11px;
    transition: 0.3s;
    color: gray;
}

a:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.bor {
    border-right: 2px solid darkslategrey;
}

.custom-button {
    background-color: transparent;
    border-color: darkslategray;
    padding: 2px 8px 2px 8px;
    margin-top: 10px;
}

.custom-button a {
    color: gray;
    font-size: 10px;
    font-weight: bold;
}

li {
    border-color: darkslategray;
}

@media (max-width: 530px) {
    .display-1 {
        font-size: 60px;
    }
    button a {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    button a {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .bor {
        border-bottom: 2px solid darkslategrey;
        border-right: none;
    }
}

@media (min-width: 1000px) {
    .contact:hover {
        font-size: 20px;
    }
}

img {
    height: 150px;
    width: 150px;
}

.text1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 29px;
    color: white;
    font-weight: bolder;
}

.text2 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 9px;
    color: white;
    line-height: 1.5;
}

.text3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 34px;
    color: white;
    font-weight: bolder;
}

.text4 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 10px;
    color: white;
    line-height: 2;
}

.carousel {
    background: transparent;
}

.carousel-item {
    height: 100vh;
}

.carousel-item img {
    min-height: 100vh;
    width: 100%;
}

.burger {
    width: 25px;
    height: 2px;
    background-color: gray;
    margin-top: 8px;
}

button:focus {
    outline: none !important;
}

.heading {
    animation: jump 1.8s ease infinite forwards;
}

@keyframes jump {
    0% {
        padding-top: 10px
    }
    20% {
        padding-top: 40px
    }
    40% {
        padding-top: 60px;
    }
    60% {
        padding-top: 45px;
    }
    80% {
        padding-top: 55px;
    }
    100% {
        padding-top: 49px;
    }
}

.arrow {
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    background: none;
    border-bottom: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    position: absolute;
    display: flex;
    align-self: center;
    margin-top: 55%;
    /* animation: bubble 1.8s ease infinite forwards; */
}

@keyframes bubble {
    0% {
        top: 50%
    }
    20% {
        top: 40%
    }
    40% {
        top: 50%;
    }
    60% {
        top: 45%;
    }
    80% {
        top: 50%;
    }
    100% {
        top: 49%;
    }
}